area{
    cursor: pointer;
}
section{
    padding-top:55px;
}
.side-nav{
    position:fixed;
    background: #0077B6;
    height:100%;
    width:200px;
    max-width: 30%;
    overflow: auto;
    z-index: -1;
}
.side-nav ul, .top-nav ul{
    list-style-type: none;
}
.side-nav a{
    font-size: 120%;
    color:#fdffff;
    display:flex;
    padding: 15px;
}
.side-nav a:hover{
    background: #fdffff;
    color:#0077B6;
    padding-left: 25px;
    transition: .4s;
}
.side-nav ul hr{
    width:70%;
    margin-left:15px;
}
#content{
    padding:100px 5% 100px 250px;
    z-index: -2;
}