area{
    cursor: pointer;
}
h1{
    font-size: 60px;
}
section{
    margin-top:30px;
}
section a{
    color:#023E8A;
}
header{
    background-image:url("/Resources/tec.jpg");
    background-size:cover;
    display:block;
    height: 100vh;
    position: relative;
}
.header{
    top:50%;
    padding-left:0%;
    box-sizing: inherit;
    position:relative;
}
.header-titles{
    text-align: left;
    color:#ebfcff;
}
#opc{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0);
}
.icone{
    font-size: 100px;
}
.quadros{
    display:block;
    float:left;
}
.div-quadros{
    justify-content: space-evenly;
    display:flex;
    text-align: center;
}
.box{
    flex: 1 1 200px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    padding-top:70px;
    padding-bottom:40px;
}
.box:hover{
    color:#CAF0F8;
    background-color: #0077B6;
    transition:background 0.5s, color 0.5s;
}
.box-img{
    font-size:100px;
}
#header-hr{
    max-width: 50%;
}
#titulo-iniciar{
    text-align: center;
}
#content{
    padding-top: 0px;
}
#panel{
    display:flex;
    justify-content: center;
}
@keyframes fadein{
    0% {opacity: 0%;}
    100% {opacity: 100%}
}